/* NAVBAR MENU */
@media only screen and (max-width: 576px) {
	.fixed-menu__title {
		display: none;
	}

	.fixed-menu__right span {
		display: none;
	}	

	.footer {
		display: none;
	}
}

/* END NAVBAR MENU */

/* MODAL WINDOWS */
@media only screen and (max-width: 768px) {
	.block-otziv {
		padding: 25px;
	}

	.block-contacts {
		padding: 30px;
	}
}
/* END MODAL WINDOWS */

/* SECTION MAIN */

/* Extra small devices (phones, 600px and down) .col */
@media only screen and (max-width: 576px) {
    .main__text_1 p {		
		font-size: 20px;
		letter-spacing: 6px;
		margin-bottom: 0;		
	}	

	.main__text_2 p {    	
    	font-size: 33px;
    	letter-spacing: 6px;	
    	margin-bottom: .5rem;     
    } 

    .main__text_3 p {
    	font-size: 15px;    	
    }
}

@media only screen and (min-width: 576px) {
	.main__text_1 p {		
		margin-bottom: 0;
		line-height: 1;		
	}	
}

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media (min-width: 576px) and (max-width: 992px) {	

	.main__text_2 p {    	
    	font-size: 45px;
	    letter-spacing: 6px;	
	    line-height: 1; 
	    margin-bottom: .5rem;   
    }

    .main__text_3 p {
    	font-size: 22px;    	
    }
}

@media only screen and (min-width: 992px) {
	.main__text_1 {
		margin-top: 1rem;
	}
}

@media only screen and (max-width: 992px) {
	.main .main__background-overlay {
		height: 80%;
		top: initial;
		bottom: 0;
	}

	.main__container {
		justify-content: flex-start;
		padding-top: 58px;
	}

    .main__button {
    	display: none;
    }

    .main__text_1 p {
		text-align: center;
		font-size: 20px;		
		line-height: 1;
	}		    

    .main__text_2 .lete-s {
		z-index:initial;
		position:initial;
	}

	.main__text_2 .lete-k {
		display: none;
	}

    .main__text_3 p {    	
    	letter-spacing: 3px;
    	font-style: normal;
    	line-height: 1;
    	text-align: center;
    }

    .main__text_4 {
    	display: none;
    	width: auto;
    	position: absolute;
    	bottom: 15px;
    	right: 15px;
    	z-index: 2;
    }

    .main__text_4 p {
    	font-family: HelveticaBold;
    	font-size: 35px;

    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media (min-width: 1200px) and (max-width: 1500px) {
	.main__text_1 p {
		font-size: 45px;
	}

    .main__text_2 p {    	
    	font-size: 100px;
	    letter-spacing: 35px;	
	    margin-bottom: 0;    
    }    

    .main__text_3 p {
    	font-size: 45px;
    }
}

@media only screen and (min-width: 1500px) {
	.main__text_1 p {
		font-size: 65px;
		padding-left: 1rem;
	}

    .main__text_2 p {    	
    	font-size: 160px;
	    letter-spacing: 35px;
	    line-height: 130px;	    
    }   

    .main__text_2 {
    	margin-bottom: 0;
    }

    .main__text_3 p {
    	font-size: 65px;
    }
}

/* END SECTION MAIN */

/* SECTION ABOUT */
/* Small devices (portrait tablets and large phones, 600px and up) .col-sm*/
@media only screen and (min-width: 576px) {
    .about .container {
	    max-width: initial;
	    width: 100%;
	}
}

@media only screen and (max-width: 576px) {
    .about-progect {
    	font-size: 50px;
    }
}

/* Extra small devices (phones, 600px and down) .col */
@media (min-width: 576px) and (max-width: 768px) {
	.about-progect {
    	font-size: 64px;
    }
}

@media only screen and (max-width: 768px) {
    
    .about__description {
    	height: 100%;
	    margin-bottom: 0px;
	}

	.about__description p {
		margin-bottom: .5rem;
	}

	p.about-progect,
	p.gizerhash {
		margin-bottom: 0;
		line-height: 1;
	} 

	.about-progect {
		letter-spacing: 2px;
	}

	.about__description-block {
	    padding: 1rem .5rem;
	}

	.good-sam {
		font-family: HelveticaLight;
		font-size: 13px;
	}

	.second-block {
		font-family: HelveticaLight;
		font-size: 13px;
	}
}


/* Medium devices (landscape tablets, 768px and up) .col-md*/
@media only screen and (min-width: 768px) {     

	.about__description {
		height: auto;
	}

	.about__description-block {
		padding: 1rem;
	}
} 

@media (min-width: 576px) and (max-width: 992px) {
	.about__description {
		margin-bottom: 50px;
		padding-right: 0;
	}
}

@media only screen and (max-width: 992px) {
	.about {
		height: 100%;
		padding: 0;
	}
	.about__populated {
		position: relative;
		height: 300px;
		background-image: url(https://gizerskaya.com/wp-content/uploads/2018/03/bg_750_706.jpg) !important;
	    background-position: center 20% !important;
	    background-size: cover;
	    background-repeat: no-repeat;
	}

	.about__populated .about__background-overlay {	    
	    height: 120%;	    
	    top: -30px;	    
	}

	.play-btn {
		position: absolute;
		height: 100px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.play-btn img{
		width: auto;
		height: 100%;		
	}
} 

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (min-width: 992px) {
   .about {    	
    	min-height: 900px; 	
    }

    .about__populated{
    	min-height: 900px
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media only screen and (min-width: 1200px) {	
	.about .container {
	    max-width: 1460px;
	}

	.about__description-block {
	    padding: 1rem 1rem 1rem 4rem;
	}

    .gizerhash {
    	font-size: 60px;
    	padding-right: 1rem;
    }
    .play-btn {
    	bottom: -20px;
    }
}

@media only screen and (min-width: 1400px) {
	.about .about-progect {
    	font-size: 100px;
    }	
	.play-btn {
    	bottom: 260px;
    }
}

@media only screen and (min-width: 1800px) {	
	.about .about-progect {
    	font-size: 110px;
    }
}
@media only screen and (min-width: 2000px) {
	.about .about-progect {
    	font-size: 120px;
    }
}
/* END SECTION ABOUT */

/* SECTION PRICE */
/* Small devices (portrait tablets and large phones, 600px and up) .col-sm*/
@media only screen and (max-width: 576px) {
    .price-item {
    	padding: 45px;
    } 

    .price-item {
    	padding: 45px 55px;
    }     
}

/* Medium devices (landscape tablets, 768px and up) .col-md*/
@media only screen and (max-width: 768px) {
    .price .container {
    	max-width: 100%;
    }

} 

@media (min-width: 576px) and (max-width: 992px) {
	.price-item {
    	padding: 45px 115px;
    } 
}

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (min-width: 992px) {
	.price {
		height: 100vh;
		min-height: 1000px;
	}
	
}

@media only screen and (max-width: 992px) {
    .price__title {
    	font-size: 40px;
    }
}

/* END SECTION PRICE */

/* SECTION REVIEW */

/* Extra small devices (phones, 600px and down) .col */
@media only screen and (max-width: 576px) {
    .testamonials__content {
	    padding: 30px 20px;
	}

	.testamonials-item__text {
	    padding: 16px;
	}

	.testamonials .carousel-indicators {    	
	    width: 35%;    
	}

	.testamonials__indicators .carousel-control-prev {	    
	    left: 15%;	    
	}

	.testamonials__indicators .carousel-control-next {	    
	    right: 15%;	    
	}

	.carousel-indicators-numbers li:not(:last-child) {
	    margin-bottom: 0px;	    
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) .col-sm*/
@media only screen and (min-width: 576px) {
    
}

@media (min-width: 576px) and (max-width: 992px)  {

    .testamonials__content {
    	padding-right: 40px;
    	padding-left: 40px;
    }
	
	.testamonials .carousel-indicators {    	
	    width: 20%;    
	}

	.testamonials__indicators .carousel-control-prev {	    
	    left: 25%;	    
	}

	.testamonials__indicators .carousel-control-next {	    
	    right: 25%;	    
	}

	.testamonials-item__description {
		height: 70px;
	}

	.testamonials-item__text {
		padding: 15px;
	}

	.testamonials__content {    
	    min-height: 780px;	    
	}	

}

@media only screen and (max-width: 992px) {
	.testamonials {
    	height: 100%;
    }

    .testamonials__content {
    	height: auto;    	
    }

	.testamonials__container {    	
    	max-width: initial;
    	width: 100%;
    }

    .testamonials__title {
		height: auto;		
		align-items: flex-start;			
		padding: 2rem 1rem 1rem 2rem;	  
    }

    .testamonials__title h3 {
    	font-size: 70px;
    	margin-bottom: .5rem;
    }

    .testamonials__indicators {    	
	    position: relative;
	    height: 36px;
	    min-height: initial;
	    padding: 1rem;
	}

    .testamonials .carousel-indicators {
    	position: relative;
    	display: flex;
	    flex-direction: row;	
	    justify-content: space-between;       
	    align-items: center;
	    top: initial;
	    bottom: 0;	   
	    margin: 0 auto;
	    padding: 0;
	    transform: none;
	}	

	.carousel-indicators-numbers li {
		font-size: 10px;
		height: auto;
	}

	.carousel-indicators-numbers li.active, .carousel-indicators-numbers li.active:hover {
	    font-size: 10px;	   
	}

	.testamonials__indicators .carousel-control-prev {
	    position: absolute;
	    display: block;
	    width: 50px;
	    height: 14px;
	    top: 50%;	    
	    bottom: initial;
	    transform: translateY(-50%);
	}

	.testamonials__indicators .carousel-control-prev-icon {	    
	    background-image: url(../img/arrow_left.png);	 	    
	}

	.testamonials__indicators .carousel-control-next {
	    position: absolute;
	    display: block;
	    width: 50px;
	    height: 14px;
	    bottom: initial;
	    left: initial;
	    top: 50%;	    
	    transform: translateY(-50%);
	}

	.testamonials__indicators .carousel-control-next-icon {	    
	    background-image: url(../img/arrow_right.png);	    
	}

	.carousel-indicators-numbers li:not(:last-child) {
	    margin-bottom: 0px;	    
	}
}

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (min-width: 992px) {
    .testamonials {
    	height: 100vh;
    	min-height: 900px;
    }

    .testamonials__title {
		height: 100vh;
		min-height: 900px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media only screen and (min-width: 1500px) {
	.testamonials__title {
		padding-right: 3%;
	}

	.testamonials__content {
    	padding-left: 5%;
    	padding-right: 5%;
    }

    .testamonials__title h3 {
    	font-size: 125px
    }

    .testamonials-item__description {
    	height: 80px;
    }
}

/* END SECTION REVIEW */

/* SECTION RESULTS */
/* Medium devices (landscape tablets, 768px and up) .col-md*/
@media only screen and (max-width: 767px) {
	.slider-results {	    
	    height: 270px;
	}

	.results-title__box {
		padding: 3rem 1rem;
	}

	.results-slider__box {
		padding-bottom: 10rem;
	}	

    .results-item__img {
	    background-size: contain;
	    background-repeat: no-repeat;
	    height: 270px;
	    width: 100%;
	}

	.slider-results .slick-list {
	    width: 100%;
	    height: 270px !important;
	    min-height: 270px !important;
	    padding: 0px !important;   
	}

	.results-slider__box {
	    padding-right: 0;
	    padding-left: 0;
	}

	.slider-results .slick-prev {
		width: 50px;  
		height: 14px;	
		top: initial;
	    right: initial;
	    left: 15%;
	    bottom: -6.5rem;
	    background-image: url(../img/arrow_left.png);   	    	    
	}

	.slider-results .slick-next {
		width: 50px;  
		height: 16px;
		top: initial;
	    right: initial;		
	    right: 15%;
	    left: initial;
	    bottom: -6.5rem;	
	    background-image: url(../img/arrow_right.png);    	    
	}

	.slider-results .slick-dots {	    
	    width: 35%;
	    bottom: -6rem;	    	    
	}		
} 

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media (min-width: 768px) and (max-width: 992px)  {
    .slider-results {	    
	    height: 365px;
	}

	.results-title__box {
		padding: 3rem 2rem 1rem 2rem;
	}
	
	.results-slider__box {
		padding-bottom: 6rem;
	}	

	.slider-results .slick-list {
	    width: 560px;
	    height: 365px !important;
	    min-height: initial !important;
	    padding: 0px !important;
	    margin: 0 auto;	    
	} 

	.results-item__img {
	    width: 100%;
	    height: 450px;	    
	}

	.slider-results .slick-prev {	
		width: 50px;
		height: 10px;
	    top: initial;
	    right: initial;
	    left: 25%;
	    bottom: -3.3rem;
	    background-image: url(../img/arrow_left.png);	    	    	    
	}

	.slider-results .slick-next {		
		width: 50px;
		height: 10px;	    
	    top: initial;
	    left: initial;
	    right: 25%;
	    bottom: -3.3rem;
	    background-image: url(../img/arrow_right.png);	    
	}

	.slider-results .slick-dots {	    
	    width: 22%;	    	    
	}	

	.slider-results .slick-dots {
		bottom: -3rem;
	}

	.slider-results .slick-dots .slick-active {
		font-size: 16px;
	}
}

@media only screen and (max-width: 992px) {
	.results {
		height: auto;
		min-height: initial;
	}

	.container.results-container {
		width: 100%;
		max-width: initial;
	}	

	.results-title__box {
		height: auto;
		min-height: initial;
	}

	.results-slider__box {
		height: auto;
		min-height: initial;
	}

	.slider-results {
		height: auto;
		min-height: initial;
	}

	.results__title {
	    position: relative;
	    top: initial;
	    right: initial;
	    transform: none;
	    text-align: left;
	    font-family: HelveticaUltraLight;
	    color: #fff;
	    font-size: 20px;
	    z-index: 0;
	}	

	.slider-results .slick-dots {
	    display: flex;	    
	    top: initial;	   
	    right: initial;	    
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: initial;
	    height: auto;
	    font-size: 10px;
	    left: 50%;
	    transform: translateX(-50%);
	    padding: 0;	    
	}	

	.slider-results .slick-dots li:not(:last-child) {
	    margin-bottom: 0px;
	}

	.slider-results .slick-dots .slick-active {	    
	    font-size: 10px;
	}
	
}

@media only screen and (min-width: 992px) {
    .container.results-container {
    	width: 100%;
    	max-width: initial;
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media (min-width: 992px) and (max-width: 1200px)  {
    .results__title {
    	right: -250px;
    }
}

@media only screen and (min-width: 1300px) {
	.results-title__box {
		max-width: 30%;
		margin-left: 10%;
	}

	.results-slider__box {
    	max-width: 60%;
    }

    .results-item__img {		
	    height: 588px;
	    width: 900px;
	}

    .slider-results .slick-list {
    	width: 900px;	    
	}

	.slider-results .slick-dots {		
		left: 980px;		
	}

	.slider-results .slick-next {			
		left: 988px;		
	}

	.slider-results .slick-prev {			
		left: 988px;		
	}

    .results__header {
    	font-size: 85px;
    }    
}
/* END SECTION RESULTS */

/* SECTION FAQ */
@media only screen and (max-width: 576px) {
	.faq-text {
		padding: 5px;
	}

	.faq__list {    	
    	padding: 5px;    	   
    }  
}

@media (min-width: 576px) and (max-width: 992px) {
	.faq-text {
    	padding: 20px;
    }

    .faq__list {    	
    	padding: 20px;    	   
    }  
}


/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (min-width: 992px) {
	.faq__text {
		padding-right: 10%;
		padding-left: 5%;
	}
}



@media only screen and (max-width: 992px) {
	.faq {
		height: auto;
	}

	.faq .container {
    	max-width: 100%;
    }

    .faq__text {
    	height: auto;
    	min-height: initial;    	
    }    

    .faq__list .overflow-bg {
    	display: none;
    }

    .faq__list {
    	height: auto;
    	min-height: initial;    	
    	background-image: linear-gradient(180deg, #ce586c 0%, #191659 100%);   
    }    

    .faq-list {
    	position: relative;
    	top: initial;
    	transform: none;
    	padding: 20px;
    }
} 
/* END SECTION FAQ */

/* SECTION CONTACTS */
/* Extra small devices (phones, 600px and down) .col */
@media only screen and (max-width: 576px) {
    .contacts__content {
	    align-items: flex-start;
	    text-align: left;	    		
		padding: 3rem 1rem;
	}
	.contacts__bg-overlay {
		background-position: 0% 62%;
	}

	.contacts__title {
		font-size: 20px;
		line-height: 1;	
		margin-bottom: 0;	
	}

	.contacts__subtitle {
		font-size: 40px;		
	}

	.contacts__second-text {
		font-size: 16px;
	}

	.contacts__mail-link {
		font-size: 20px;
	}

	.contacts__mail-link {
		font-size: 14px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) .col-sm*/
@media only screen and (min-width: 576px) {
    .contacts__title {		
		line-height: 1;	
		margin-bottom: 0px;	
	}

	.contacts__subtitle {
		line-height: 1;
	}
}

/* Medium devices (landscape tablets, 768px and up) .col-md*/
@media only screen and (min-width: 768px) {
    .example {background: blue;}
} 

@media (min-width: 576px) and (max-width: 992px)  {
    .contacts__bg-overlay {
		background-position: 0% 55%;
	}

	.contacts__content {		
		padding: 3rem 2rem;				
	}

	.contacts__second-text {
		font-size: 17px;
	}

	.contacts__mail-link {
		font-size: 20px;
	}

	.contacts__title {
		font-size: 50px;
		margin-bottom: .5rem;
	}

	.contacts__subtitle {
		font-size: 40px;
		letter-spacing: 2px;
	}	
}

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (max-width: 992px) {
	.contacts {
		height: 100vh;
		max-height: initial;
		min-height: initial;
	}

	.contacts-container {
		height: 100vh;
	}	

	.contacts__content {
		justify-content: flex-start;
		min-height: initial;
		max-height: initial;		
		height: 80%;		
	}

	.contacts__content-md {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.contacts__content .contacts__third-text {
		display: none;
	}	

    #contacts-button-w {
    	display: none;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media (min-width: 992px) and (max-width: 1200px)  {
    .contacts__content {
    	padding: 2rem;
    }
}

@media only screen and (min-width: 1500px) {
	.contacts__content {
		padding-right: 5%;
	}

	.contacts__first-text {
	    margin-bottom: 1rem;
	}
}



/* END SECTION CONTACTS */