/* SECTION MAIN */

/* Extra small devices (phones, 600px and down) .col */
@media only screen and (max-width: 576px) {
    .main__text_1 p {		
		font-size: 20px;
		letter-spacing: 6px;
		margin-bottom: 0;		
	}	

	.main__text_2 p {    	
    	font-size: 33px;
    	letter-spacing: 6px;	     
    } 

    .main__text_3 p {
    	font-size: 15px;    	
    }
}

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media (min-width: 576px) and (max-width: 992px) {
	.main__text_1 p {		
		margin-bottom: .5rem;		
	}	

	.main__text_2 p {    	
    	font-size: 45px;
	    letter-spacing: 6px;	
	    line-height: 1; 
	    margin-bottom: 1rem;   
    }

    .main__text_3 p {
    	font-size: 22px;    	
    }
}

@media only screen and (max-width: 992px) {
	.main .elementor-background-overlay {
		height: 80%;
		top: initial;
		bottom: 0;
	}

	.main__container {
		justify-content: flex-start;
		padding-top: 58px;
	}

    .main__button {
    	display: none;
    }

    .main__text_1 p {
		text-align: center;
		font-size: 20px;		
		line-height: 1;
	}		    

    .main__text_2 .lete-s {
		z-index:initial;
		position:initial;
	}

	.main__text_2 .lete-k {
		display: none;
	}

    .main__text_3 p {    	
    	letter-spacing: 2px;
    	font-style: normal;
    	line-height: 1;
    	text-align: center;
    }

    .main__text_4 {
    	display: block;
    	width: auto;
    	position: absolute;
    	bottom: 15px;
    	right: 15px;
    	z-index: 2;
    }

    .main__text_4 p {
    	font-family: HelveticaBold;
    	font-size: 35px;

    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media (min-width: 1200px) and (max-width: 1500px) {
	.main__text_1 p {
		font-size: 45px;
	}

    .main__text_2 p {    	
    	font-size: 100px;
	    letter-spacing: 35px;	    
    }    

    .main__text_3 p {
    	font-size: 45px;
    }
}

@media only screen and (min-width: 1500px) {
	.main__text_1 p {
		font-size: 65px;
	}

    .main__text_2 p {    	
    	font-size: 160px;
	    letter-spacing: 35px;	    
    }   

    .main__text_2 {
    	margin-bottom: 1rem;
    }

    .main__text_3 p {
    	font-size: 65px;
    }
}

/* END SECTION MAIN */

/* SECTION ABOUT */
/* Small devices (portrait tablets and large phones, 600px and up) .col-sm*/
@media only screen and (min-width: 576px) {
    .about .container {
	    max-width: initial;
	    width: 100%;
	}
}

/* Extra small devices (phones, 600px and down) .col */
@media only screen and (max-width: 768px) {
    .about-progect {
    	font-size: 50px;
    }

    .about__description {
    	height: 100%;
	    margin-bottom: 0px;
	}

	.about__description-block {
	    padding: 1rem .5rem;
	}
}


/* Medium devices (landscape tablets, 768px and up) .col-md*/
@media only screen and (min-width: 768px) {     

	.about__description {
		height: auto;
	}

	.about__description-block {
		padding: 1rem;
	}
} 

@media (min-width: 576px) and (max-width: 992px) {
	.about__description {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 992px) {
	.about {
		height: 100%;
		padding: 0;
	}
	.about__populated {
		position: relative;
		height: 300px;
		background-image: url(https://gizerskaya.com/wp-content/uploads/2018/03/bg_750_706.jpg) !important;
	    background-position: center 20% !important;
	    background-size: cover;
	    background-repeat: no-repeat;
	}

	

	.play-btn {
		position: absolute;
		height: 100px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.play-btn img{
		width: auto;
		height: 100%;		
	}
} 

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (min-width: 992px) {
   .about {    	
    	max-height: 900px; 	
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media only screen and (min-width: 1200px) {	
	.about .container {
	    max-width: 1400px;
	}
    .gizerhash {
    	font-size: 60px;
    }
    .play-btn {
    	bottom: -20px;
    }
}

@media only screen and (min-width: 1400px) {
	.about .about-progect {
    	font-size: 100px;
    }	
	.play-btn {
    	bottom: 150px;
    }
}

@media only screen and (min-width: 1800px) {	
	.about .about-progect {
    	font-size: 110px;
    }
}
@media only screen and (min-width: 2000px) {
	.about .about-progect {
    	font-size: 120px;
    }
}
/* END SECTION ABOUT */

/* SECTION PRICE */
/* Small devices (portrait tablets and large phones, 600px and up) .col-sm*/
@media only screen and (max-width: 576px) {
    .price-item {
    	padding: 45px;
    } 
}

/* Medium devices (landscape tablets, 768px and up) .col-md*/
@media only screen and (max-width: 768px) {
    .price .container {
    	max-width: 100%;
    }
} 

/* END SECTION PRICE */

/* SECTION REVIEW */
/* END SECTION REVIEW */

/* SECTION RESULTS */
/* END SECTION RESULTS */

/* SECTION FAQ */
/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (max-width: 992px) {
	.faq {
		height: auto;
	}

	.faq .container {
    	max-width: 100%;
    }

    .faq__text {
    	height: auto;
    	min-height: initial;    	
    }    

    .faq__list .overflow-bg {
    	display: none;
    }

    .faq__list {
    	height: auto;
    	min-height: initial;
    	padding: 20px;
    	background-image: linear-gradient(180deg, #ce586c 0%, #191659 100%);   
    }  

    .faq-text {
    	padding: 20px;
    }

    .faq-list {
    	position: relative;
    	top: initial;
    	transform: none;
    	padding: 20px;
    }
} 
/* END SECTION FAQ */

/* SECTION CONTACTS */
/* Extra small devices (phones, 600px and down) .col */
@media only screen and (max-width: 576px) {
    .contacts__content {
	    align-items: flex-start;
	    text-align: left;
	}
	.contacts__bg-overlay {
		background-position: 0% 62%;
	}

	.contacts__title {
		font-size: 20px;
		line-height: 1;	
		margin-bottom: 0;	
	}

	.contacts__subtitle {
		font-size: 40px;		
	}

	.contacts__second-text {
		font-size: 16px;
	}

	.contacts__mail-link {
		font-size: 20px;
	}

	.contacts__mail-link {
		font-size: 14px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) .col-sm*/
@media only screen and (min-width: 576px) {
    .contacts__title {		
		line-height: 1;	
		margin-bottom: 0px;	
	}

	.contacts__subtitle {
		line-height: 1;
	}
}

/* Medium devices (landscape tablets, 768px and up) .col-md*/
@media only screen and (min-width: 768px) {
    .example {background: blue;}
} 

@media (min-width: 576px) and (max-width: 992px)  {
    .contacts__bg-overlay {
		background-position: 0% 55%;
	}

	.contacts__second-text {
		font-size: 20px;
	}

	.contacts__mail-link {
		font-size: 20px;
	}

	.contacts__subtitle {
		font-size: 46px;
		letter-spacing: 2px;
	}	
}

/* Large devices (laptops/desktops, 992px and up) .col-lg*/
@media only screen and (max-width: 992px) {
	.contacts {
		height: 100vh;
		max-height: initial;
		min-height: initial;
	}

	.contacts-container {
		height: 100vh;
	}	

	.contacts__content {
		justify-content: flex-start;
		min-height: initial;
		max-height: initial;
		padding: 3rem 2rem;
		height: 80%;		
	}

	.contacts__content-md {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.contacts__content .contacts__third-text {
		display: none;
	}	

    #contacts-button-w {
    	display: none;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) .col-xl*/
@media (min-width: 992px) and (max-width: 1200px)  {
    .contacts__content {
    	padding: 2rem;
    }
}

/* END SECTION CONTACTS */